/*nav */
.nav {
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 1px solid cyan;
	text-align: right;
	height: 40px;
	
}

.menu a {
	font-size: 15px;
	text-decoration: none;
	color: black;
	margin-right: 50px;
	line-height: 40px;
}


html body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}
body {
	padding-top: 100px;
}
.container {
	width: 800px;
	text-align: center;
	position: auto;
	margin: 0 auto;
	padding: 50px;
	padding-top: 80px;
}

input {
	font-size: 17px;
	width: 500px;
	height: 20px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
 	transition-duration: 300ms;
 	box-shadow: 0 0 5px 2px rgba(0,0,0, 0.1);
	 
}

input:hover {
    box-shadow: 0 0 10px 3px rgba(0,255,255, 0.9);
    transition: all 200ms ease-out;
}


h1 {
	font-size: 50px;
}

footer {
	color: black;
	text-align: center;
	margin-top: 100px;
}


.box {
  border-radius: 50%;
  height: 20px;
  margin: 50px auto;
  width: 20px;
}
.wrap:hover .box {
  transform: scale(2);
}

.box1 {
  background: #60D4C8;
  transition: all 250ms;
}
